<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-top: 100px">
				 <h1> Прежде чем продолжить нужно войти или зарегистрироваться</h1>
				<ul class="breadcumb">
					@*<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>*@
				</ul> 
			</div>
		</div>
	</div>
</div>